*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
backend.tf
node_modules/
package-lock.json
frontend/output.css
frontend/dist/
.vscode/
.DS_Store
**/__pycache__/
**/*.pyc
cleaned/
modules/lambda/src/*.zip
purge.config.cjs
