node_modules/
purge.config.cjs
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
.vscode/
.DS_Store
**/__pycache__/
**/*.pyc
cleaned/
modules/lambda/src/*.zip
backend.tf
frontend/output.css